* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

/* utility-class */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 20px;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar */
nav {
    background-color: #56574f;
    padding-block: 10px;
    min-height: 10vh;
}

/* main-section */
main {
    min-height: 60vh;
}

.logo {
    display: flex;
    align-items: center;
}


.song-detail-section {
    margin-block: 62px;
    padding: 20px 0px;
}

.img-container {
    height: 250px;
    width: 200px;
    border-radius: 12px;
}

#img {
    height: 100%;
    width: 100%;
    background-position: center center;
    border-radius: 12px;
}

.song-info {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}

/* footer-section */
footer {
    min-height: 30vh;
    background-color: #56574f;
}

.footer-section {
    padding: 20px;
    flex-direction: column;
}

.time-controls {
    display: flex;
    justify-content: space-between;
}

#range {
    width: 70vw;
}

i {
    font-size: 22px;
}

.fa-pause {
    display: inline-block;
}

.fa-play {
    display: inline-block;
}

/* media-queries */
@media(max-width:769px) {
    .song-detail-section {
        margin-block: 20px;
        padding: 20px 0px;
    }

    button {
        margin-inline: 5px;
        padding: 2px 5px;
    }

    i {
        font-size: 20px;
        position: relative;
        top: -10px;
    }
}